body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;

  &:before {
    content: 'Task: ';
    font-weight: 600;
  }
}

.app {
  padding: 10px;
}

.app__line {
  & + & {
    margin-top: 10px;
  }
}